<!doctype html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>
<body>
 

<style>
	<%- include("../partials/style") %>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
 <%- include("../partials/toolbar") %>
</div>

<div class="content" role="main">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="name-tab" data-toggle="tab" href="#name" role="tab" aria-controls="name" aria-selected="true">Consulta por nome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="zip-tab" data-toggle="tab" href="#zip" role="tab" aria-controls="zip" aria-selected="false">Consulta por CEP/ZIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="coord-tab" data-toggle="tab" href="#coord" role="tab" aria-controls="coord" aria-selected="false">Consulta por coordenadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ip-tab" data-toggle="tab" href="#ip" role="tab" aria-controls="ip" aria-selected="false">Consulta por IP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">Consulta sua localização</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <br>
      <div class="tab-pane fade show active" id="name" role="tabpanel" aria-labelledby="name-tab">
        <!-- Input -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="input_name" placeholder="Nome do local" aria-label="Nome do local" aria-describedby="button_name">
          
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button_name">Enviar</button>
          </div>
        </div>
        <div id="input_name_valid" class="invalid-feedback">
          <span class="tab">Por favor, insira um nome.</span>
        </div>



      </div>
      <div class="tab-pane fade" id="zip" role="tabpanel" aria-labelledby="zip-tab">..</div>
      <div class="tab-pane fade" id="coord" role="tabpanel" aria-labelledby="coord-tab">...</div>
      <div class="tab-pane fade" id="ip" role="tabpanel" aria-labelledby="ip-tab">....</div>
      <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">.....</div>
    </div>

</div>





  <%- include("../partials/scripts") %>
  <script src="/public/js/home_actions.js"></script>
</body>
</html>
